<%= render "layouts/logged_in_header" %>

<% if @key.errors.any? %>

    <div class="row">
      <div class="alert alert-warning col-md-6">
        <h3>Errors occured</h3>

        <ul>
          <% @key.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>

      </div>
    </div>


<% end %>

<div class="row">
  <h1>New API key</h1>
</div>



<div class="row">

  <%= render "layouts/flashmessage" %>

  <%= form_for @key do |f| %>

      <p><%= f.label :app_name %></p>
      <p><%= f.text_field :app_name, :size => 100, class: 'form-control' %></p>

      <p><%= f.submit "Register app", class: 'btn btn-lg btn-primary' %></p>

  <% end %>

  <%= link_to "Back to list", userkeys_path, class: 'btn btn-default' %>
</div>
