<h1>Registration</h1>

<% if @user.errors.any? %>

  <div class="error">
    <h3>Error occured</h3>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>

  </div>

<% end %>

<%= form_for @user do |f| %>

  <p><%= f.label :name %></p>
  <p><%= f.text_field :name, :size => 50 %></p>

  <p><%= f.label :email %></p>
  <p><%= f.email_field :email, :size => 50 %></p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Register" %></p>

<% end %>